/* VARIABLE DEFINITIONS */
:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --letterSpacing: 0.25rem;
    --radius: 0.5rem;
    --transitionTime: 0.3s linear;
    --btnShadow: 0 0.0625rem 0.1875rem rgb(0 0 0 / 20%);
    --light-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
}

/* FONT MANAGEMENT */
@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Italic.ttf');
    font-weight: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Light.ttf');
    font-weight: light;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

/* STYLE DEFINITIONS */
* {
    border-collapse: collapse;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    background-color: var(--clr-grey-10);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* MAIN CONTENT */
.pageTitle {
    font-size: 2.5rem;
    letter-spacing: var(--letterSpacing);
    color: var(--clr-grey-1);
    position: relative;
    margin-bottom: 4rem;
}
.pageTitle:after {
    content: '';
    width: 5rem;
    height: 0.25rem;
    background-color: var(--clr-primary-5);
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
}

.mainSection {
    max-width: 33.75rem;
    max-height: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
}
.mainSection__picture {
    width: 9.375rem;
    height: 9.375rem;
    position: relative;
    margin: 0.5rem 0;
}
.mainSection__picture__image {
    background-image: url(./src/person-1_rfzshl.jpg);
    background-position: center center;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    position: absolute;
    z-index: 1;
}
.mainSection__picture > .mainSection__picture__doubleQuote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-5);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    position: absolute;
    z-index: 2;
    font-size: 1.25rem;
    font-weight: bold;
}
.mainSection__picture:after {
    content: '';
    background-color: var(--clr-primary-5);
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    position: absolute;
    top: -0.375rem;
    right: -0.375rem;
}
.mainSection__name {
    letter-spacing: var(--letterSpacing);
    color: var(--clr-black);
    font-size: 1rem;
    font-family: var(--ff-secondary);
    margin: 0.125rem 0;
}
.mainSection__job {
    color: var(--clr-primary-5);
    font-size: 0.85rem;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    font-weight: lighter;
    margin: 0.25rem 0;
}
.mainSection__description {
    text-align: center;
    color: var(--clr-grey-5);
    font-size: 1rem;
    font-family: var(--ff-secondary);
    margin: 0.5rem 0;
}
.mainSection__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
}
.mainSection__controls > button {
    cursor: pointer;
    border: none;
    color: var(--clr-primary-5);
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0.5rem;
    transition: var(--transitionTime);
}
.mainSection__controls > button:hover {
    color: var(--clr-primary-2);
}
.mainSection__randomButton {
    cursor: pointer;
    margin: 0.5rem 0;
    border: 0.125rem solid var(--clr-primary-5);
    color: var(--clr-primary-5);
    border-radius: var(--radius);
    padding: 0.5rem;
    background-color: var(--clr-primary-10);
    font-size: 0.75rem;
    font-weight: bold;
    transition: var(--transitionTime);
}
.mainSection__randomButton:hover {
    color: var(--clr-primary-10);
    background-color: var(--clr-primary-5);
}
